<ion-header>
  <ion-toolbar color="app">
    <ion-buttons>
      <ion-back-button defaultHref="\"></ion-back-button>
      <ion-title>Nova conta</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../../assets/app.svg" />

  <ion-item>
    <ion-label position="floating"> Nome </ion-label>
    <ion-input [(ngModel)]="usuario.nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Email </ion-label>
    <ion-input [(ngModel)]="usuario.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> senha </ion-label>
    <ion-input [(ngModel)]="usuario.senha" type="password"></ion-input>
  </ion-item>
  <ion-button color="app" expand="block" (click)="cadastrar()">
    <ion-icon name="add" slot="start"></ion-icon>
    Gravar
  </ion-button>
</ion-content>
